<%- include partial/index%>
      <div style="padding-left:16px">
        <h2>List Of Warrior!</h2>
      </div>
      <table>
        <tr>
          <th>Warrior</th>
          <th>Name</th>
          <th>Health</th>
          <th>Min Attack</th>
          <th>Max Attack</th>
          <th>Defense</th>
        </tr>
        <%monsterRows.forEach((monster)=>{%>
          <tr>
            <td><img src="/img/<%= monster.image %>"></td>
            <td><%= monster.name %></td>
            <td><%= monster.health %></td>
            <td><%= monster.minattack %></td>
            <td><%= monster.maxattack %></td>
            <td><%= monster.defense %></td>
          </tr>
        <%})%>

      </table>
      <br>
      
    </body>
  </html>
