<html>
    <head>
      <style>
        table,td,th{
         border: 1px solid black
        }
      </style>


      <meta charset="utf-8">
      <title>MOnster</title>
    </head>
    <body>
      <ul>
        <li><h3>Home</h3></li>
        <li><h3>Arena</h3></li>
        <li><h3>Shop</h3></li>
      </ul>
      <table>
        <tr>
          <th>Warrior</th>
          <th>Name</th>
          <th>Health</th>
          <th>Min Attack</th>
          <th>Max Attack</th>
          <th>Defense</th>
        </tr>
        <%monsterRows.forEach((monster)=>{%>
          <tr>
            <td><img src="/img/<%= monster.image %>"></td>
            <td><%= monster.name %></td>
            <td><%= monster.health %></td>
            <td><%= monster.minattack %></td>
            <td><%= monster.maxattack %></td>
            <td><%= monster.defense %></td>
          </tr>
        <%})%>

      </table>
      <br>
      <button>search opponent</button>
    </body>
  </html>
