
<%- include partial/index%>
<br /> <br/>

    your status:
    <br>
    <table>
        <tr>
            <th>name</th>
            <th>wins</th>
            <th>lose</th>
            <th>credits</th>
          </tr>
          <tr>
            <td><%= userRows.name %></td>
            <td><%= userRows.win %></td>
            <td><%= userRows.lose %></td>
            <td><%= userRows.credit %></td>
          </tr>
    </table>
    <br><br>
    <%if(userRows.MonsterId !== null ) {%>
      <table>
        <tr>
          <th>Warrior</th>
          <th>Name</th>
          <th>Health</th>
          <th>Min Attack</th>
          <th>Max Attack</th>
        </tr>
          <tr>
              <td><img src="/img/<%= userRows.Monster.image %>"></td>
              <td><%= userRows.Monster.name %></td>
                <td><%= userRows.Monster.health %></td>
              <td><%= userRows.Monster.minattack %></td>
              <td><%= userRows.Monster.maxattack %></td>
            </tr>
        </table>
     <% } else {%>
      <button>buy warrior</button>
    <% }%>



    <br>
    <form action="/arena/<%=id%>">
    <input type="submit" value="Battle" />
    </form>
  </body>
</html>
<script type="text/javascript">
  var elem = document. getElementById("menu-prof")
  elem.setAttribute("href", "/profile/"+<%=userRows.id%>);
</script>
