<!DOCTYPE html>
<html>
  <head>
    <style>
      table,td,th{
       border: 1px solid black
      }
    </style>


    <meta charset="utf-8">
    <title>Profile</title>
  </head>
  <body>
    <ul>
      <li><h3>Home</h3></li>
      <li><h3>Arena</h3></li>
      <li><h3>Shop</h3></li>
    </ul>


    your status:
    <br>
    <table>
        <tr>
            <th>name</th>
            <th>wins</th>
            <th>lose</th>
            <th>credits</th>
          </tr>
          <tr>
            <td><%= userRows.name %></td>
            <td><%= userRows.win %></td>
            <td><%= userRows.lose %></td>
            <td><%= userRows.credit %></td>
          </tr>
    </table>
    <br><br>
    <%if(userRows.MonsterId !== null) {%>
      <table> 
          <tr>
              <td><img src="/img/<%= userRows.Monster.image %>"></td>
              <td><%= userRows.Monster.name %></td>
              <td><%= userRows.Monster.minattack %></td>
              <td><%= userRows.Monster.maxattack %></td>
            </tr>
        </table>
     <% } else {%>
      <button>buy warrior</button>
    <% }%> 

    
    <br>
    <button>search opponent</button>
  </body>
</html>
